@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

body{
	font: 400 14px Roboto, sans-serif;
	background: rgb(245, 244, 244); 
	-webkit-font-smoothing: antialiased;
}

a:hover{
	text-decoration: none;
	color:#000;
}

.noticia_wrapper{
	background-color: #FFF;
	padding:15px;
	margin-bottom:15px;
	box-shadow: 1px 1px 2px #C3C3C3;
}

.navbar{
	background:#FFF;
}

.noticia_autor{
	color: rgb(46, 235, 29);
	display: block;
	font-weight: bold;
}

.noticia_titulo{
	color:rgb(0, 0, 0);
	font-size:22px;
	text-decoration: none;
}

.noticia_data{
	color:#727272;
	display: block;
}

.noticia_resumo{
	color:#333;
	margin-right:10px;
}

.ver_mais{
	text-align: center;
	background:#FFF;
	padding:20px;
}